.quarto-title-block .quarto-title-banner {
  background-image: url(featured.jpg);
  background-size: 180px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 12px;
  background-origin: content-box;
  text-align: right;
  height: 200px;
}
